<html>
{% load static %}
<link rel='stylesheet' href="{% static 'css/style.css' %}?{% now "U" %}">

<head><title>View Tasks</title></head>
<body>
<div style="background-color:  #666; width: 100%;height: 20%;border-radius:4px;">
<h1 style="text-align: center;position:relative;top:40px;font-size:20px;color:white;"> To Do List</h1>
</div>
</br>
<section>
<nav><div style="padding:0;"><a href = "/completed/{{t.id}}">Completed</a></div></nav>
<div class = "main">
<h1 class="idxhead">Tasks</h1>
<table id = "Tasks">
 <thead><th>Task Name</th><th>Details</th><th></th> </thead>
	<tr>
	{% for t in task %}
		<td>{{t.tname}}</td>
		<td>{{t.tDetails}}<td>
		<button class="btn"><a href = "/markdone/{{t.id}}">Mark As Done </a></button><button class="btn" style="margin-left:3px">  <a href="update/{{t.id}}"> Update</a></button><button class="dbtn" style="margin-left:3px" ><a href = "/delete/{{t.id}}"> Delete </a></button></br>
	</tr>
	{% empty %}
	<tr><td colspan="3">No Tasks</td></tr>
	{% endfor %}
	
</table></br>
<div  class = "container" style="text-align: left">
	<a   href="create/" >
		<img src="{% static 'images/add.png' %}" border = "0" alt="Add" ></a>
		<div class="over"> 
			<div class = "txt">
				Add Task
			</div>
		</div>
</div>
</br>
</div>

</section>
</body>

</html>